.app__navbar {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-self: center;
  background-color: rgb(136, 148, 189);
}

.app__navbar-items {
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.app__navbar-item {
  margin-right: 2rem;

  &:last-of-type {
    margin: none;
  }

  &--active {
    border-bottom: 1px solid white;
  }

  a {
    color: white;
  }
}


.app__content {
  margin-top: 5rem;
  padding: 5rem;
}
